```
# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
.MF
.tags*
test.em|thumb
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.directory
.fuse_hidden*
```